// jsiid sample config
// edit, save as ~/.jsiidConfig.js

var config = {};

config.nick = "replaceme";

// how many lines to remember in each channel
config.backlog = 100;

// time between reconnect attempts
config.reconnectDelay = 5000;

// time used for accumulating which chans to request nicklists on
config.namesRequestDelay = 5000;

// which address /port to listen on. comment out addr to listen on INADDR_ANY
config.listenAddr = "127.0.0.1";
config.listenPort = "6666";

config.servers = [
    {
        /* connect to oranges.com:1337, password: orangutan */
        "name": "oranges",          // required
        "address": "oranges.com",   // default is localhost
        "port": 1337,               // default is 6667
        "password": "orangutan"     // defaults to no pw
    },
    {
        /* connect to fruits.org:6667 */
        "name": "fruits",
        "address": "fruits.org",
    },
    {
        /* connect to localhost:6667 */
        "name": "bitlbee"
    }
];

module.exports = config;
